[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-mock = "*"
flask = "*"
flask-restful = "*"
gunicorn = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.11"
